$navbarBlue: #16415c;
$backgroundGold: #eee2db;
$fontGoldDark: #cc8963;
$backgroundBlueDark: #1c2f40;
//this color not from design guidelines, not approved by client: link on hover:
$linkOnHover: #9b562b;

